:root {
  --main-color: blueviolet;
  --sub-color: rgb(232, 212, 250);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main-color);
}

header ul li a {
  text-align: center;
  color: var(--sub-color)!important;
}

header ul li a:hover {
  color: var(--main-color)!important;
  background-color: var(--sub-color);
}

header li + li {
  border-top: 1px solid var(--sub-color);
}

#container { /*Edit this portion for the contents*/
  flex: 1;
}

main h2 {
  font-size: 22px;
}

img {
  object-fit: contain;
}
section {
  margin-top: 16px;
  padding-left: 16px;
}

#introduction {
  background-color: var(--sub-color);
}

#introduction .img {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

#introduction img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#introduction ul {
  list-style: none;
  margin: 8px 8px 0;
  padding: 0 0 8px;
  text-align: center;
}

#introduction .name {
  font-size: 24px;
}

#introduction li + li {
  border-top: 1px solid var(--main-color);
}

footer {
  background-color: var(--main-color);
  text-align: center;
}

footer .updated-at {
  padding: 16px 0 8px;
}

@media (min-width: 768px) {
  header li + li {
    border-top: none;
  }
}

@media (min-width: 800px) {
  #container {
    display: flex;
    flex-direction: row-reverse;
  }
  main {
    flex: 1;
  }
  #introduction {
    width: 200px;
  }
}